/* анимация для появления модального окна */
@-webkit-keyframes appear {
  0% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

/* анимация для закрытия модального окна */
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  100% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  100% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0);
  }
}

/* анимация для неправильно заполненной формы */
@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50%) translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-50%) translateX(3px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50%) translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-50%) translateX(3px);
  }
}

/* цветовая схема */
:root {
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-red: #E84D37;
  --basic-red-rgb: 232, 77, 55;
  --basic-grey: #B4B4B4;
  --light-grey: #F8F7F4;
  --light-grey-rgb: 248, 247, 244;
  --text-grey: #5A5A5A;
  --dark-grey: #323232;
  --dark-grey-rgb: 50, 50, 50;
  --grey-blue-rgb: 49, 50, 53;
  --placeholder-grey: #999999;
  --placeholder-grey-rgb: 153, 153, 153;
  --grey-border: #D3D3D2;
  --input-border-rgb:  178, 178, 178;
  --focus-border: #92C1F1;
  --one-more-grey: #ABABAB;
  --one-more-grey-rgb: 171, 171, 171;
  --more-more-grey: #EDEDED;
  --shadow-grey: #696969;
  --not-empty-basket: #343434;
  --table-grey: #CACAC7;
  --almost-black: #353535;
  --almost-white: #FEFEFE;
  --background-green: #849D8F;
  --background-blue: #8996A6;
  --background-brown: #9D8B84;
  --blur-green: #D7F2E3;
  --blur-blue: #DAE4EF;
  --blur-brown: #EFE0DA;
  --orange-link: #FFBC9E;
  --orange-link-rgb: 255, 188, 158;
  --gradient-orange1: #F26843;
  --gradient-orange2: #E74A35;
  --menu-orange: #D07058;
  --menu-light-orange: #FBDED7;
  --menu-middle-orange: #F6B5A5;
  --text-shadow-red: #a0200b;
  --text-shadow-red-rgb: 160, 32, 11;
  --btn-shadow-hover: #AC1000;
  --btn-shadow-hover-rgb: 172, 16, 0;
  --btn-shadow-active: #942718;

}

.page {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--background-green);
  color: var(--basic-white);
  height: 100%;
}

/* обертка для параметров фона и разбиения контента на 3 строки: header, main, footer */
.wrapper-site {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* цвет и картинка для фона меняются в слайдере*/
.wrapper-site-1 {
  background-color: var(--background-green);
  background-image: url("../img/creme-brulee-raspberry_blur.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.wrapper-site-2 {
  background-color: var(--background-blue);
  background-image: url("../img/chocolate-lemon-sorbet_blur.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.wrapper-site-3 {
  background-color: var(--background-brown);
  background-image: url("../img/fondant-strawberry-sherbet_blur.png");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* центрируем контент и ограничиваем его ширину */
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* скрыть всякое */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* общие стили кнопок */
.btn-red {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(var(--text-shadow-red-rgb), 0.76);
  background: linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: 0px 2px 2px rgba(var(--btn-shadow-hover-rgb), 0.64);
  border-radius: 70px;
}

.btn-red:hover,
.btn-red:focus {
  background: linear-gradient(0deg, rgba(var(--basic-white-rgb), 0.2), rgba(var(--basic-white-rgb), 0.2)), linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: 0px 1px 2px var(--btn-shadow-hover);
}

.btn-red:active {
  background: linear-gradient(0deg, rgba(var(--basic-black-rgb), 0.07), rgba(var(--basic-black-rgb), 0.07)), linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active);
}

/* header */
.main-header .wrapper-box {
  display: flex;
  padding-top: 9px;
}

.header-logo {
  margin-right: 13px;
  flex-shrink: 0;
}

.header-logo img {
  display: block;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px;
  margin-top: 14px;
  padding: 0px;
  list-style: none;
}

.header-nav-item {
  position: relative;
}

.header-nav-item:not(:last-child) {
  margin-right: 6px;
}

.header-nav-item > a {
  display: block;
  padding: 6px 13px 7px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
          text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.header-nav-item > a:hover,
.header-nav-item > a:focus {
  background-color: var(--basic-white);
  border-radius: 26px;
  text-decoration: none;
  color: var(--dark-grey);
}

.header-nav-item > a:active {
  text-decoration: none;
  color: var(--dark-grey);
  background-color: var(--more-more-grey);
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}

.header-nav-item-current > a {
  border-radius: 26px;
  background-color: var(--menu-orange);
  text-decoration: none;
}

.inner-header-nav {
  display: none;
  position: absolute;
  top: 36px;
  left: -8px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
}

.inner-header-nav::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0px;
  height: 9px;
  width: 100%;
  background-color: transparent;
}

.inner-nav-item {
  margin-bottom: 4px;
}

.inner-nav-item:last-child {
  margin-bottom: 7px;
}

.inner-nav-item:first-child {
  margin-top: 4px;
}

.inner-nav-item a {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
  padding: 5px 21px 6px 20px;
}

.inner-nav-item-new a {
  position: relative;
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 11px;
}

.inner-nav-item-new a::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  bottom: 0px;
  height: 1px;
  border-bottom: 1px solid rgba(var(--dark-grey-rgb), 0.2);
}

.inner-nav-item a:hover,
.inner-nav-item a:focus {
  background-color: var(--menu-light-orange);
}

.inner-nav-item a:active {
  background-color: var(--menu-middle-orange);
}

.inner-nav-item-current a,
.inner-nav-item-current a:hover {
  color: var(--basic-white);
  background-color: var(--menu-orange);
}

.header-nav-item:hover .inner-header-nav,
.header-nav-item:focus-within .inner-header-nav {
  display: block;
  z-index: 1;
}

.user-menu {
  flex-shrink: 0;
  display: flex;
  margin: 0px;
  margin-top: 14px;
  margin-left: auto;
  padding: 0px;
  list-style: none;
}

.user-menu-item {
  position: relative;
  height: 32px;
  border-radius: 20px;
  background-color: rgba(var(--basic-white-rgb), 0.2);
  margin-right: 10px;
}

.user-menu-item:last-child {
  margin-right: 0px;
}

.user-menu-item:hover {
  background-color: var(--basic-white);
}

.user-menu-item:hover path {
  fill: var(--dark-grey);
}

.user-menu-basket:hover path:last-child {
  fill: transparent;
}

.user-menu-item > a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.user-menu-item:hover > a{
  color: var(--dark-grey);
}

.svg-icon-search {
  padding: 8px;
}

.header-form-search {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  box-sizing: border-box;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  background-color: var(--light-grey);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
}

.header-form-search::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0px;
  height: 8px;
  width: 100%;
  background-color: transparent;
}

.header-search-message {
  box-sizing: border-box;
  width: 311px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
  background-color: var(--basic-white);
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  padding: 14px;
}

.header-search-message::-webkit-input-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.header-search-message::-moz-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.header-search-message::placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.header-search-message:hover {
  border-width: 2px;
  padding: 13px;
}

.header-search-message:focus {
  outline: none;
  border: 2px solid var(--focus-border);
  padding: 13px;
}

.user-menu-search:hover .header-form-search,
.user-menu-search:focus-within .header-form-search {
  display: block;
  z-index: 1;
}

.user-menu-enter > a {
  display: flex;
  padding: 6px 16px 7px 16px;
}

.svg-icon-enter {
  margin-right: 8px;
}

.user-menu-enter .enter-contents {
  display: block;
  margin-top: 2px;
}

.header-form-enter {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  box-sizing: border-box;
  width: 277px;
  height: 214px;
  padding: 20px 17px 20px 19px;
  background-color: var(--light-grey);
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
  border-radius: 4px;
}

.header-form-enter::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0px;
  height: 8px;
  width: 100%;
  background-color: transparent;
}

.form-enter-login,
.form-enter-password {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
  background-color: var(--basic-white);
  border: 1px solid var(--grey-border);
  border-radius: 4px;
}

.form-enter-login::-webkit-input-placeholder, .form-enter-password::-webkit-input-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.form-enter-login::-moz-placeholder, .form-enter-password::-moz-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.form-enter-login::placeholder,
.form-enter-password::placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.form-enter-login:hover,
.form-enter-password:hover {
  border-width: 2px;
  padding: 13px;
}

.form-enter-login:focus,
.form-enter-password:focus {
  outline: none;
  border: 2px solid var(--focus-border);
  padding: 13px;
}

.wrapper-form-enter {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 3px;
}

.btn-enter {
  grid-row: 1/-1;
  padding: 14px 26px 14px 25px;
  font-size: 18px;
  line-height: 16px;
  text-shadow: none;
  border-radius: 26px;
  border: none;
}

.password-recovery,
.registration {
  font-size: 13px;
  line-height: 15px;
  color: var(--dark-grey);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--dark-grey-rgb), 0.3);
          text-decoration-color: rgba(var(--dark-grey-rgb), 0.3);
}

.password-recovery:hover,
.registration:hover,
.password-recovery:focus,
.registration:focus,
.password-recovery:active,
.registration:active {
  color: var(--basic-red);
  -webkit-text-decoration-color: rgba(var(--basic-red-rgb), 0.3);
          text-decoration-color: rgba(var(--basic-red-rgb), 0.3);
}

.user-menu-enter:hover .header-form-enter,
.user-menu-enter:focus-within .header-form-enter {
  display: block;
  z-index: 1;
}

.user-menu-basket > a {
  display: flex;
  padding: 6px 16px;
}

.svg-icon-basket {
  margin-right: 8px;
}

.user-menu-basket .basket-contents {
  display: block;
  margin-top: 2px;
}

.basket-not-empty {
  position: relative;
  background-color: var(--basic-white);
  color: var(--dark-grey);
}

.basket-not-empty .basket-contents {
  color: var(--dark-grey);
}

.basket-not-empty path {
  fill: var(--not-empty-basket);
}

.basket-not-empty path:last-child,
.basket-not-empty:hover path:last-child {
  fill: var(--basic-red);
}

.header-user-order {
  display: none;
  position: absolute;
  top: 36px;
  right: 0px;
  box-sizing: border-box;
  width: 539px;
  padding: 15px 14px 20px 15px;
  background-color: var(--light-grey);
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
  border-radius: 4px;
}

.header-user-order::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0px;
  height: 8px;
  width: 100%;
  background-color: transparent;
}

.basket-contents-table {
  width: 510px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 16px;
  color: var(--dark-grey);
  border-collapse: collapse;
}

.basket-contents-table td {
  padding: 0px;
}

.basket-contents-item .basket-remove-good {
  width: 26px;
  position: relative;
}

.btn-remove {
  cursor: pointer;
  position: absolute;
  left: 6px;
  top: 15px;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  padding: 0px;
  border: none;
  background-image: url("../img/icon/icon-x.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.basket-contents-item .basket-preview-good {
  width: 33px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.basket-preview-good img {
  display: block;
  width: 33px;
  height: 33px;
}

.basket-contents-item .basket-name-good {
  width: 216px;
  padding: 14px 13px 15px 13px;
}

.basket-contents-item .basket-quantity-good {
  padding: 14px 13px 15px 13px;
}

.price-kg {
  color: var(--one-more-grey);
}

.basket-contents-item .basket-sum-good {
  padding: 14px 13px 15px 13px;
}

.basket-total-sum {
  border-top: 1px solid var(--table-grey);
  font-weight: bold;
  font-size: 15px;
  color: var(--dark-grey);
  text-align: right;
}

.basket-total-sum td {
  padding-top: 15px;
}

.btn-order {
  display: block;
  box-sizing: border-box;
  padding: 14px 15px;
  width: 172px;
  margin-left: auto;
  font-size: 18px;
  line-height: 16px;
  text-shadow: none;
  border-radius: 26px;
}

.user-menu-basket:hover .header-user-order,
.user-menu-basket:focus-within .header-user-order {
  display: block;
  z-index: 1;
}

.wrapper-header-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.working-hours {
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.number-phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/* footer */
.main-footer .wrapper-box{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 26px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.footer-socials-list {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  margin-top: 17px;
  padding: 0px;
  list-style: none;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item a {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(var(--basic-white-rgb), 0.5);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.socials-fb a {
  background-image: url("../img/socials/icon-fb.svg");
}

.socials-vk a {
  background-image: url("../img/socials/icon-vk.svg");
}

.socials-inst a {
  background-image: url("../img/socials/icon-inst.svg");
}

.socials-tw a {
  background-image: url("../img/socials/icon-tw.svg");
}

.socials-item a:hover,
.socials-item a:focus,
.socials-item a:active {
 opacity: 1;
}

.footer-nav-list {
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0px;
  margin-top: 11px;
  padding: 0px;
  list-style: none;
}

.footer-nav-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
          text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.footer-nav-item-heart a {
  position: relative;
  font-weight: bold;
}

.footer-nav-item-heart a::before {
  position: absolute;
  top: 4px;
  left: -22px;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/icon/icon-heart.svg");
}

.footer-nav-item a:hover,
.footer-nav-item a:focus,
.footer-nav-item a:active {
  color: var(--orange-link);
  -webkit-text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
          text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
}

.footer-copy {
  justify-self: end;
}

.logo-htmlacademy {
  display: block;
  margin-bottom: 16px;
}

.logo-htmlacademy img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-copy-description {
  margin: 0px;
  margin-top: -4px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copy-description a {
  color: var(--basic-white);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
          text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.footer-copy-description a:hover,
.footer-copy-description a:focus,
.footer-copy-description a:active {
  color: var(--orange-link);
  -webkit-text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
          text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
}

/* actions */
.actions {
  margin-bottom: 41px;
}

.actions .wrapper-box {
  position: relative;
}

.actions-slider-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.actions-slider-item h3 {
  width: 672px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 275px;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.btn-double-ice {
  display: block;
  box-sizing: border-box;
  width: 261px;
  padding: 7px 19px 10px 21px;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.actions-slider-item {
  display: none;
}

.actions-slider-item-open {
  display: block;
}

.slider-controls {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 22px;
}

.btn-slide {
  display: block;
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.btn-slide:hover,
.btn-slide:focus {
  background-color: rgba(var(--basic-white-rgb), 0.4);
}

.btn-slide:active {
  background-color: var(--basic-white);
}

.btn-slide:not(:last-of-type) {
  margin-right: 8px;
}

.btn-slide-open,
.btn-slide-open:hover,
.btn-slide-open:focus {
  background-color: var(--basic-white);
  cursor: default;
}

/* promotions */
.promotions {
  margin-bottom: 35px;
}

.promo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.promo-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 229px;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-item-raspberry {
  background-image: url("../img/back-raspberry.png");
}

.promo-item-chocolate {
  background-image: url("../img/back-choco.png");
}

.promo-item h3 {
  margin: 0px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  margin: 0px;
  font-weight: bold;
}

.btn-promo {
  align-self: flex-end;
  margin-top: auto;
  padding: 12px 22px;
}


/* goods */
.goods {
  margin-bottom: 20px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 12px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.good-item {
  position: relative;
  box-sizing: border-box;
  width: 267px;
  padding-top: 6px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-item img {
  width: 267px;
  height: 267px;
  order: -1;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper-btn-view {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: -54px;
  left: -13px;
  right: -13px;
  border-radius: 4px;
  background-color: rgba(var(--basic-white-rgb), 0.2);
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.2);
}

.btn-view {
  display: block;
  position: absolute;
  bottom: 21px;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 16px;
}

.good-item:hover,
.good-item:focus-within {
  z-index: 2;
}

.good-item:hover .wrapper-btn-view,
.good-item:focus-within .wrapper-btn-view {
  display: flex;
  z-index: -1;
}

.good-item-title {
  text-align: center;
  margin: 0px;
  margin-top: 11px;
  font-weight: 500;
  font-size: 16px;
}

.good-item-title a {
  color: var(--basic-white);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
          text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.good-item-title a:hover,
.good-item-title a:focus,
.good-item-title a:active {
  color: var(--orange-link);
  -webkit-text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
          text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
}

.good-item-price {
  position: absolute;
  top: 212px;
  left: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(var(--grey-blue-rgb), 0.5);
}

.good-item-price span {
  font-size: 45px;
  line-height: 45px;
}

.good-item-price .ruble-sign {
  padding-left: 5px;
}

/* добавляем метку ХИТ */
.good-item-hit::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/icon/icon-hit.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* features */
.features {
  margin-bottom: 40px;
}

.wrapper-features {
  color: var(--dark-grey);
  background-image: url("../img/pattern.png");
  border-radius: 16px;
  padding: 24px 20px 31px 20px;
}

.about-gllacy {
  margin: 0px;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 22px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.features-item {
  position: relative;
  margin-left: 55px;
  font-size: 16px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;
  width: 45px;
  height: 45px;
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

}

.features-item-production::before {
  background-image: url("../img/icon/icon-icecream.png");
}

.features-item-ingredient::before {
  background-image: url("../img/icon/icon-cow.png");
}

.features-item-organic::before {
  background-image: url("../img/icon/icon-leaf.png");
}

.features-item-delivery::before {
  background-image: url("../img/icon/icon-thermometer.png");
}

/* blog-subscribe */
.blog-subscribe {
  margin-bottom: 40px;
}

.blog-subscribe .wrapper-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

/* blog */
.blog {
  box-sizing: border-box;
  height: 220px;
  padding: 17px 20px 23px 20px;
  color: var(--dark-grey);
  background-color: var(--basic-white);
  background-image: url("../img/back-strawberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.blog h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.blog a {
  display: block;
  width: 287px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark-grey);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--almost-black);
          text-decoration-color: var(--almost-black);
  text-decoration-thickness: 2px;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: var(--basic-red);
  -webkit-text-decoration-color: rgba(var(--basic-red-rgb), 0.3);
          text-decoration-color: rgba(var(--basic-red-rgb), 0.3);
}

/* subscribe */
.subscribe {
  box-sizing: border-box;
  height: 220px;
  padding: 5px 6px;
  background-image: url("../img/back-post-cover.png");
  border-radius: 16px;
}

.wrapper-subscribe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 23px 20px;
  background-color: var(--light-grey);
  border-radius: 16px;
}

.subscribe p {
  margin: 0px;
  margin-bottom: 40px;
  color: var(--text-grey);
  font-size: 16px;
}

.form-subscribe {
  display: flex;
}

.email-for-subscribe {
  box-sizing: border-box;
  width: 100%;
  margin-right: 10px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-grey);
  background-color: var(--basic-white);
  border: 1px solid var(--grey-border);
  border-radius: 6px;
}

.email-for-subscribe::-webkit-input-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.email-for-subscribe::-moz-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.email-for-subscribe::placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.email-for-subscribe:hover {
  border-width: 2px;
  padding: 8px 13px;
}

.email-for-subscribe:focus {
  outline: none;
  border: 2px solid var(--focus-border);
  padding: 8px 13px;
}

.btn-subscribe {
  border: none;
  padding: 10px 19px;
}

/* contacts */
.wrapper-contacts {
  position: relative;
}

.contacts iframe {
  display: block;
  width: 100%;
}

.contacts-info {
  box-sizing: border-box;
  width: 303px;
  position: absolute;
  top: 62px;
  right: 0px;
  padding: 29px 25px;
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-grey);
  background-color: var(--almost-white);
  border-radius: 16px;
}

.info-address {
  margin: 0px;
}

.info-phone {
  margin: 0px;
  margin-bottom: 27px;
}

.contacts-info address {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.info-phone a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--dark-grey);
}

.btn-open-feedback {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* modal-feedback */
.modal-feedback {
  display: none;
  box-sizing: border-box;
  width: 477px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 25px 27px 23px;
  background-color: var(--light-grey);
  border-radius: 6px;
}

.open-modal {
  display: block;
  z-index: 3;
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

.close-modal {
  -webkit-animation: disappear 1s;
          animation: disappear 1s;
}

.btn-close-modal {
  position: absolute;
  top: 15px;
  right: 16px;
  border: none;
  width: 18px;
  height: 17px;
  background-image: url("../img/icon/icon-x-big.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-feedback p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-grey);
}

.name-wrapper,
.email-wrapper {
  margin-bottom: 20px;
  width: 267px;
}

.message-wrapper {
  margin-bottom: 25px;
  width: 428px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.feedback-name,
.feedback-email,
.feedback-message {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 14px;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-grey);
  background-color: var(--basic-white);
  border: 1px solid var(--grey-border);
  border-radius: 4px;
}

.feedback-field-error {
  border-color: var(--gradient-orange2);
}

.feedback-name::-webkit-input-placeholder, .feedback-email::-webkit-input-placeholder, .feedback-message::-webkit-input-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.feedback-name::-moz-placeholder, .feedback-email::-moz-placeholder, .feedback-message::-moz-placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.feedback-name::placeholder,
.feedback-email::placeholder,
.feedback-message::placeholder {
  color: rgba(var(--placeholder-grey-rgb), 1);
  opacity: 1;
}

.feedback-name:hover,
.feedback-email:hover,
.feedback-message:hover {
  border-width: 2px;
  padding: 10px 13px;
}

.feedback-name:focus,
.feedback-email:focus,
.feedback-message:focus {
  outline: none;
  border: 2px solid var(--focus-border);
  padding: 10px 13px;
}

.feedback-field-error:focus {
  border-color: var(--gradient-orange2);
}

.btn-feedback {
  padding: 10px 24px;
  border: none;
}

.error-form {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* CATALOG */
.wrapper-title-bread-crumbs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -29px;
  margin-bottom: 26px;
}

.main-catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0px;
}

.bread-crumbs {
  order: -1;
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px;
  list-style: none;
}

.bread-crumbs-item:not(:last-child) {
  position: relative;
  margin-right: 22px;
}

.bread-crumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -14px;
  width: 6px;
  height: 6px;
  background-image: url("../img/icon/icon-double-arrows-right.svg");
}

.bread-crumbs-item a {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
          text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.bread-crumbs-item a:hover,
.bread-crumbs-item a:focus,
.bread-crumbs-item a:hover:active {
  color: var(--orange-link);
  -webkit-text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
          text-decoration-color: rgba(var(--orange-link-rgb), 0.3);
}

.bread-crumbs-item-current a {
  color: var(--basic-white);
  text-decoration: none;
}

.bread-crumbs-item-current a:hover,
.bread-crumbs-item-current a:focus,
.bread-crumbs-item-current a:hover:active {
  color: var(--basic-white);
  text-decoration: none;
}

/* filters */
.filters {
  margin-bottom: 25px;
}

.form-filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-filters fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  margin-right: 15px;
  margin-bottom: 12px;
}

.form-filters legend {
  margin-left: 16px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* sorting */
.wrapper-select {
  position: relative;
}

.sorting-attributes {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  width: 196px;
  padding: 7px 12px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  border: none;
  border-radius: 20px;
  background-color: rgba(var(--basic-white-rgb), 0.2);
}

.svg-icon-triangle {
  position: absolute;
  top: 13px;
  right: 14px;
}

.sorting-attributes:hover {
  color: var(--dark-grey);
}

.sorting-attributes:focus {
  color: var(--dark-grey);
  background-color: var(--basic-white);
}

.sorting-attributes:hover + .svg-icon-triangle path,
.sorting-attributes:focus + .svg-icon-triangle path {
  fill: var(--dark-grey);
}

.sorting-attributes .attribute-item {
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
}

/* filter-price */
.filter-price {
  position: relative;
}

.filter-price-show {
  position: absolute;
  top: -23px;
  left: 57px;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-price-range {
  box-sizing: border-box;
  width: 218px;
  padding: 17px 21px;
  background: rgba(var(--basic-white-rgb), 0.2);
  border-radius: 20px;
}

.price-scale {
  height: 2px;
  background-color: rgba(var(--light-grey-rgb), 0.5);
  padding-left: 23px;
  padding-right: 55px;
}

.price-scale-bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--light-grey);
}

.price-scale-bar .toggle {
  display: block;
  position: absolute;
  top: -10px;
  padding: 0px;
  width: 20px;
  height: 20px;
  background-color: var(--one-more-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 3px 0px 0px rgba(var(--one-more-grey-rgb), 0.3);
  cursor: pointer;
}

.price-scale-bar .toggle-min {
  left: -10px;
}

.price-scale-bar .toggle-max {
  right: -10px;
}

.price-scale-bar .toggle:hover,
.price-scale-bar .toggle:focus {
  width: 22px;
  height: 22px;
  border-width: 9px;
}

/* filter-fat */
.filter-fat-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 425px;
  margin: 0px;
  padding: 7px 17px 7px 14px;
  list-style: none;
  background: rgba(var(--basic-white-rgb), 0.2);
  border-radius: 20px;
}

.filter-fat-item label {
  position: relative;
  padding-left: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.fat-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.fat-input-radio:checked + label::before {
  background-image: url("../img/icon/radio-on.svg");
  opacity: 0.8;
}

.fat-input-radio + label:hover::before,
.fat-input-radio:focus + label::before {
  opacity: 1;
}

.fat-input-radio:disabled + label {
  opacity: 0.4;
}

.fat-input-radio:disabled + label::before {
  opacity: 0.4;
}

/* filter-additive */
.filter-additive-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 711px;
  margin: 0px;
  padding: 0px;
  padding: 7px 19px 7px 16px;
  list-style: none;
  background: rgba(var(--basic-white-rgb), 0.2);
  border-radius: 20px;
}

.filter-additive-item label {
  position: relative;
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.additive-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 0.8;
}

.additive-input-checkbox:checked + label::before {
  width: 24px;
  background-image: url("../img/icon/checkbox-on.svg");
  opacity: 0.8;
}

.additive-input-checkbox + label:hover::before,
.additive-input-checkbox:focus + label::before {
  opacity: 1;
}

.additive-input-checkbox:disabled + label {
  opacity: 0.4;
}

.additive-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

/* btn-filter */
.btn-filter {
  align-self: flex-end;
  padding: 7px 28px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(var(--basic-white-rgb), 0.2);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}

.btn-filter:hover,
.btn-filter:focus {
  padding: 9px 30px;
  color: var(--dark-grey);
  background: var(--basic-white);
  border: none;
}

.btn-filter:active {
  padding: 9px 30px;
  border: none;
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}

/* goods-catalog */
.goods-catalog {
  margin-bottom: 25px;
}

.goods-catalog .goods-list {
  margin-bottom: 60px;
}

/* pagination */
.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.pagination-item-arrow a {
  display: block;
  width: 7px;
  height: 26px;
  background-image: url("../img/icon/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-item-arrow .btn-previous {
  transform: rotate(180deg);
  margin-right: 16px;
}

.pagination-item-arrow .btn-next {
  margin-left: 18px;
}

.btn-page-disabled {
  opacity: 0.2;
}

.pagination-item {
  margin-right: 4px;
}

.pagination-item a {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: rgba(var(--basic-white-rgb), 0.2);
}

.pagination-item a:active {
  background-color: var(--basic-white);
  color: var(--dark-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover {
  background-color: var(--basic-white);
  color: var(--dark-grey);
}

/* затемняет и блокирует страницу при открытии модального окна */
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--basic-black-rgb), 0.3);
}

.overlay-open {
  display: block;
}
