/* подключение шрифтов */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* цветовая схема */
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-red: #E84D37;
  --basic-grey: #B4B4B4;
  --light-grey: #F8F7F4;
  --text-grey: #5A5A5A;
  --dark-grey: #323232;
  --placeholder-grey: #999999;
  --one-more-grey: #ABABAB;
  --more-more-grey: #EDEDED;
  --shadow-grey: #696969;
  --not-empty-basket: #343434;
  --almost-black: #353535;
  --almost-white: #FEFEFE;
  --background-green: #849D8F;
  --background-blue: #8996A6;
  --background-brown: #9D8B84;
  --blur-green: #D7F2E3;
  --blur-blue: #DAE4EF;
  --blur-brown: #EFE0DA;
  --gradient-orange1: #F26843;
  --gradient-orange2: #E74A35;
  --menu-orange: #D07058;
  --menu-light-orange: #FBDED7;
  --menu-middle-orange: #F6B5A5;
  --btn-shadow: #AC1000;
  --btn-shadow-active: #942718;
}

.page {
  height: 100%;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--background-green);
  color: var(--basic-white);
  min-height: 100%;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* обертка для параметров фона и разбиения контента на 3 строки: header, main, footer */
.wrapper-site {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  /* background-repeat: no-repeat; */
  /* background-position: top center; */
}

/* цвет и картинка для фона меняются в слайдере*/
/* .wrapper-site-1 {
  background-color: var(--background-green);
  background-image: url("../img/creme-brulee-raspberry_blur.png");
} */
/* .wrapper-site-2 {
  background-color: var(--background-blue);
  background-image: url("../img/chocolate-lemon-sorbet_blur.png");
} */
/* .wrapper-site-3 {
  background-color: var(--background-brown);
  background-image: url("../img/fondant-strawberry-sherbet_blur.png");
} */


/* центрируем контент и ограничиваем его ширину */
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* скрыть всякое */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* общие стили кнопок */

.btn-red {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 26px;
}
.btn-red:hover,
.btn-red:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: 0px 1px 2px var(--btn-shadow);
}
.btn-red:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--gradient-orange1) 0%, var(--gradient-orange2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active);
}

/* header */

.header-nav-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.header-nav-item > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.header-nav-item:hover,
.header-nav-item:focus {
  background-color: var(--basic-white);
}
.header-nav-item:hover > a,
.header-nav-item:focus > a,
.header-nav-item:active > a {
  text-decoration: none;
  color: var(--dark-grey);
}
.header-nav-item:active {
  background-color: var(--more-more-grey);
  box-shadow: inset 0px 2px 1px var(--shadow-grey);
}
.header-nav-item-current {
  background-color: var(--menu-orange);
}
.header-nav-item-current > a {
  text-decoration: none;
}

.inner-header-nav {
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.inner-nav-item a {
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
}
.inner-nav-item-new a {
  font-weight: bold;
  line-height: 18px;
}
.inner-nav-item:hover,
.inner-nav-item:focus {
  background-color: var(--menu-light-orange);
}
.inner-nav-item:active {
  background-color: var(--menu-middle-orange);
}
.inner-nav-item-current {
  background-color: var(--menu-orange);
}
.inner-nav-item-current a{
  color: var(--basic-white);
}
.header-nav-item:hover .inner-header-nav,
.header-nav-item:focus .inner-header-nav {
  display: block;
}


.user-menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.user-menu-item {
  background-color: rgba(255, 255, 255, 0.2);
}
.user-menu-item:hover {
  background-color: var(--basic-white);
}
.user-menu-item:hover path{
  fill: var(--dark-grey);
}
.user-menu-item > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.user-menu-item:hover > a{
  color: var(--dark-grey);
}

.header-form-search {
  display: none;
  background-color: var(--light-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.header-search-message::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder-grey);
}
.user-menu-search:hover .header-form-search,
.user-menu-search:focus .header-form-search {
  display: block;
}

.header-form-enter {
  display: none;
  background-color: var(--light-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.form-enter-login::placeholder,
.form-enter-password::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder-grey);
}
.btn-enter {
  line-height: 16px;
  border: none;
}
.header-form-enter .password-recovery,
.header-form-enter .registration {
  font-size: 13px;
  line-height: 15px;
  color: var(--dark-grey);
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}
.user-menu-enter:hover .header-form-enter,
.user-menu-enter:focus .header-form-enter {
  display: block;
}

.basket-not-empty {
  background-color: var(--basic-white);
  color: var(--dark-grey);
}
.basket-not-empty .basket-contents {
  color: var(--dark-grey);
}
.basket-not-empty path {
  fill: var(--not-empty-basket);
}
.basket-not-empty path:last-child {
  fill: var(--basic-red);
}
.header-user-order {
  display: none;
  background-color: var(--light-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.basket-contents-table {
  font-size: 13px;
  line-height: 16px;
  color: var(--dark-grey);
}
.price-kg {
  color: var(--one-more-grey);
}
.basket-total-sum {
  font-weight: bold;
  font-size: 15px;
  color: var(--dark-grey);
}
.btn-order {
  line-height: 16px;
}
.user-menu-basket:hover .header-user-order,
.user-menu-basket:focus .header-user-order {
  display: block;
}


.wrapper-header-bottom .working-hours {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.wrapper-header-bottom .number-phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}


/* footer */

.footer-socials-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.footer-nav-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.footer-nav-item a{
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.footer-nav-item-heart a {
  font-weight: bold;
}
.footer-copy .footer-copy-description {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}
.footer-copy-description a {
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

/* actions */

.actions-slider-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.actions-slider-item h3 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
.btn-double-ice {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  border-radius: 70px;
}

/* promotions */

.promo-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.promo-item h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}
.promo-item p {
  font-weight: bold;
}

/* goods */

.goods-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.good-item-title {
  font-weight: 500;
  font-size: 16px;
}
.good-item-title a {
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.good-item-price {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.good-item-price span {
  font-size: 45px;
  line-height: 45px;
}

/* features */

.wrapper-features {
  color: var(--dark-grey);
  background-image: url("../img/pattern.png");
}
.about-gllacy {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.features-item p {
  font-size: 16px;
}

/* blog-subscribe */

/* blog */
.blog {
  color: var(--dark-grey);
  background-color: var(--basic-white);
  background-image: url("../img/back-strawberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.blog h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.blog a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark-grey);
  text-decoration: underline;
  text-decoration-color: var(--almost-black);
  text-decoration-thickness: 2px;
}

/* subscribe */
.subscribe {
  color: var(--text-grey);
  background-color: var(--light-grey);
}
.email-for-subscribe::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: var(--placeholder-grey);
}

/* contacts */
.contacts-info {
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-grey);
  background-color: var(--almost-white);

}
.contacts-info address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}
.contacts-info a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--dark-grey);
}

/* modal-feedback */

.modal-feedback {
  background-color: var(--light-grey);
}
.modal-feedback p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-grey);
}

.feedback-name::placeholder,
.feedback-email::placeholder,
.feedback-message::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--placeholder-grey);
}

/* CATALOG */

.main-catalog h1 {
  font-size: 35px;
  line-height: 41px;
}

.bread-crumbs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.bread-crumbs-item a {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.bread-crumbs-item-current a {
  text-decoration: none;
}

/* filters */

.form-filters fieldset {
  border: none;
}
.form-filters legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.sorting-attributes .attribute-item {
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-grey);
}

.filter-fat-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.filter-fat-item label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-additive-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.filter-additive-item label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: none;
}

/* pagination */
.pagination-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.pagination-item-current {
  background-color: var(--basic-white);
}
.pagination-item-current a {
  color: var(--dark-grey);
}
